<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MC2PCardManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MC2PCardManager.Properties.Settings>
            <setting name="CurrentHead" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value>W:\Multicore_Bitstreams</value>
            </setting>
            <setting name="MCModels" serializeAs="String">
                <value>Não definido;Multicore 1;Multicore 2;Multicore 2+</value>
            </setting>
            <setting name="MyMCModel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RomsPath" serializeAs="String">
                <value />
            </setting>
        </MC2PCardManager.Properties.Settings>
    </userSettings>
</configuration>